{% extends 'wrapper.html' %}
{% load static %}

{% block content %}

<section class="my-5">

    <div class="container mt-3">
        <div class="my-3 fw-bold fs-3">
            All Cards
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card p-3 bg-dark text-light">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deleniti, exercitationem alias
                    mollitia nulla, consequatur excepturi quis dolor neque quia eum, expedita voluptatem provident
                    autem. Possimus architecto mollitia eaque quaerat!
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 bg-dark text-light">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deleniti, exercitationem alias
                    mollitia nulla, consequatur excepturi quis dolor neque quia eum, expedita voluptatem provident
                    autem. Possimus architecto mollitia eaque quaerat!
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 bg-dark text-light">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deleniti, exercitationem alias
                    mollitia nulla, consequatur excepturi quis dolor neque quia eum, expedita voluptatem provident
                    autem. Possimus architecto mollitia eaque quaerat!
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
