/django-projects/travel/staticfiles/images/
/fast-api-projects/first_steps/env
django-projects/library/library/config.py
django-projects/store/env/pyvenv.cfg
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.svg