<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/about.css">
  <title>About</title>
</head>
<body>
  <header>
    <div class="container">
      <div class="header-inner">
        <a class="site-logo" href="./index.html">
          <img class="site-logo__img" src="./images/logo.svg" alt="Site logo">
        </a>

        <ul class="nav-list">
          <li class="nav-list__item">
            <a class="nav-list__link nav-list__link--active" href="./index.html">Asosiy</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="./products.html">Do‘kon</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#">Aksessuarlar</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#">Kategoriya</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#">Biz haqimizda</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#">Aloqa</a>
          </li>
        </ul>

        <div class="brands-burger-box">
          <ul class="header-brends">
            <li class="header-brends__icon">
              <a href="#">
                <img src="./images/telegram.svg" alt="Telegram icon">
              </a>
            </li>
            <li class="header-brends__icon">
              <a href="#">
                <img src="./images/instagram.svg" alt="Telegram icon">
              </a>
            </li>
            <li class="header-brends__icon">
              <a href="./shopping.html">
                <img src="./images/shopping-cart.svg" alt="Telegram icon">
              </a>
            </li>
          </ul>

          <div class="burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="about-box">
      <div class="container">
        <div class="about">
          <div class="about-galery">
            <div class="about-galery__card">
              <a class="about-galery-main__img" href="#">
                <img src="./images/cards-img.png" alt="img">
              </a>

              <ul class="about-galery__list">
                <li class="about-galery__item">
                  <a href="#">
                    <img src="./images/cards-img.png" alt="">
                  </a>
                </li>
                <li class="about-galery__item">
                  <a href="#">
                    <img src="./images/cards-img.png" alt="">
                  </a>
                </li>
                <li class="about-galery__item">
                  <a href="#">
                    <img src="./images/cards-img.png" alt="">
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="about-content">
            <h1 class="about-content__title">Apple Noutbuk</h1>
            <p class="about-content__price">
              Narx:
              <br>
              <b>$12000</b>
            </p>
            <hr>
            <p class="about-content__discount">
              Chegirma: <span>10%</span>
              <br>
              <b>$10800</b>
            </p>
            <h2 class="about-content__delivery">Tez va sifatli yetkazib berish</h2>
            <ul class="about-content__list">
              <li class="about-content-list__item">Tez yetkazib berish</li>
              <li class="about-content-list__item">Uyingizgacha yetkazib berish</li>
              <li class="about-content-list__item">Taxminiy yetkazish muddati</li>
              <li class="about-content-list__item">10 kun ichida mahsulotni qaytarish</li>
            </ul>

            <div class="amount">
              <h3 class="amount__title">Miqdori:</h3>
              <div class="amount-btns">
                <button class="add-btn"><img src="./images/add-circle.png" alt=""></button>
                <span class="amount-result">1</span>
                <button class="minus-btn"><img src="./images/minus-cirlce.png" alt=""></button>
              </div>
            </div>
            <div class="about-content__btns">
              <button>Sotib olish</button>
              <button>Savatcha</button>
            </div>
          </div>
        </div>
        <hr>

        <h2 class="about-product__title">Mahsulot haqida:</h2>
        <p class="about-product__info">Id quisque maecenas dictum turpis eget sollicitudin sit suspendisse gravida. Arcu, in vel mauris sed pellentesque sociis viverra. Viverra dui, faucibus risus sed eget molestie ut amet in. Ligula ut et est felis vel mauris. Quis volutpat ac massa gravida tincidunt pellentesque nunc, iaculis enim. Imperdiet augue aliquet nulla viverra est elementum urna. Arcu, sit quisque nisi, fringilla enim habitant amet. Sit sagittis volutpat tincidunt at aliquam, in felis ornare nunc.</p>

        <h2 class="similar-product__title">O‘xshash mahsulotlar:</h2>
        <ul class="similar-product__list discounts-list">
          <li class="discounts-list__item">
            <img class="discounts-list__img" src="./images/cards-img.png" alt="Best seller computer">
            <h3 class="discounts-list__title">HP Noutbuk. Sichqoncha va qo‘shimcha aksessuarlari</h3>
            <div class="discounts-list__price">$1200</div>
          </li>
          <li class="discounts-list__item">
            <img class="discounts-list__img" src="./images/cards-img.png" alt="Best seller computer">
            <h3 class="discounts-list__title">HP Noutbuk. Sichqoncha va qo‘shimcha aksessuarlari</h3>
            <div class="discounts-list__price">$1200</div>
          </li>
          <li class="discounts-list__item">
            <img class="discounts-list__img" src="./images/cards-img.png" alt="Best seller computer">
            <h3 class="discounts-list__title">HP Noutbuk. Sichqoncha va qo‘shimcha aksessuarlari</h3>
            <div class="discounts-list__price">$1200</div>
          </li>
          <li class="discounts-list__item">
            <img class="discounts-list__img" src="./images/cards-img.png" alt="Best seller computer">
            <h3 class="discounts-list__title">HP Noutbuk. Sichqoncha va qo‘shimcha aksessuarlari</h3>
            <div class="discounts-list__price">$1200</div>
          </li>
        </ul>
      </div>
    </section>
  </main>

  <footer>
    <div class="container">
      <div class="footer-inner">
        <div class="footer-logo">
          <a class="footer-logo__link" href="./index.html">
            <img src="./images/logo-footer.svg" alt="Logo">
          </a>

          <p class="footer-logo__info">
            Sed vitae feugiat mi, id lacus. Viverra tortor, facilisis at sed facilisi sed. Nisi imperdiet nibh et, sodales. .
          </p>
        </div>

        <div class="footer-menu">
          <h2 class="footer-menu__title">Menu</h2>
          <ul class="footer-menu__list">
            <li class="footer-menu__list-item">
              <a class="footer-menu__list-link" href="#">Asosiy</a>
            </li>
            <li class="footer-menu__list-item">
              <a class="footer-menu__list-link" href="#">Do‘kon</a>
            </li>
            <li class="footer-menu__list-item">
              <a class="footer-menu__list-link" href="#">Aksessuarlar</a>
            </li>
            <li class="footer-menu__list-item">
              <a class="footer-menu__list-link" href="#">Kategoriya</a>
            </li>
            <li class="footer-menu__list-item">
              <a class="footer-menu__list-link" href="#">Biz haqimizda</a>
            </li>
            <li class="footer-menu__list-item">
              <a class="footer-menu__list-link" href="#">Aloqa</a>
            </li>
          </ul>
        </div>

        <div class="footer-products">
          <h2 class="footer-products__title">Mahsulot</h2>
          <ul class="footer-products__list">
            <li class="footer-products__list-item">
              <a class="footer-products__list-link" href="#">Mahsulotlar</a>
            </li>
            <li class="footer-products__list-item">
              <a class="footer-products__list-link" href="#">Top mahsulotalr</a>
            </li>
            <li class="footer-products__list-item">
              <a class="footer-products__list-link" href="#">Eng ko‘p sotilgan</a>
            </li>
          </ul>
        </div>

        <div class="footer-shop">
          <h2 class="footer-shop__title">Shop</h2>
          <ul class="footer-shop__list">
            <li class="footer-shop__list-item">
              <a class="footer-shop__list-link" href="#">Savatcha</a>
            </li>
            <li class="footer-shop__list-item">
              <a class="footer-shop__list-link" href="#">Kategoriya</a>
            </li>
          </ul>
        </div>

        <div class="footer-contact">
          <h2 class="footer-contact__title">Aloqa</h2>
          <ul class="footer-contact__list">
            <li class="footer-contact__list-item">
              <a class="footer-contact__list-link" href="#">(+089) 19918989 - 0123456789</a>
            </li>
            <li class="footer-contact__list-item">
              <a class="footer-contact__list-link" href="#">onlinestore.sydney@gmail.com</a>
            </li>
            <li class="footer-contact__list-item">
              <a class="footer-contact__list-link" href="#">14 LE Gounlburn St, Sydney 119NSA</a>
            </li>
          </ul>

          <h3 class="footer-brands__title">Bizga azo bo‘ling:</h3>
          <div class="footer-brands">
            <a href="#">
              <img src="./images/footer-facebook.png" alt="facebook icon">
            </a>
            <a href="#">
              <img src="./images/footer-twitter.png" alt="twitter icon">
            </a>
            <a href="#">
              <img src="./images/footer-instagramm.png" alt="instagram icon">
            </a>
            <a href="#">
              <img src="./images/footer-youtube.png" alt="youtube icon">
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="./js/script.js"></script>
  <script src="./js/about.js"></script>
</body>
</html>