{% extends 'base.html' %}
{% load static %}

{% block content  %}
  <main>
    <section class="about-box">
      <div class="container">
        <div class="about">
          <div class="about-galery">
            <div class="about-galery__card">
              <a class="about-galery-main__img" href="#">
                <img src="{{object.product_images.all.0.image.url}}" alt="img">
              </a>

              <ul class="about-galery__list">
                {% for img in object.product_images.all %}
                <li class="about-galery__item">
                  <a href="#">
                    <img src="{{img.image.url}}" alt="">
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="about-content">
            <h1 class="about-content__title">{{object.name}}</h1>
            <p class="about-content__price">
              Narx:
              <br>
              <b>${{object.price}}</b>
            </p>
            <hr>
            <p class="about-content__discount">
              Chegirma: 
              {% if object.discount %} 
                <span>{{object.discount}}%</span> 
              {% else %}
                <span>Chegirma yo'q</span> 
              {% endif %}
              <br>
              <b>${{object.get_discount_price}}</b>
            </p>
            <h2 class="about-content__delivery">Tez va sifatli yetkazib berish</h2>
            <ul class="about-content__list">
              <li class="about-content-list__item">Tez yetkazib berish</li>
              <li class="about-content-list__item">Uyingizgacha yetkazib berish</li>
              <li class="about-content-list__item">Taxminiy yetkazish muddati</li>
              <li class="about-content-list__item">10 kun ichida mahsulotni qaytarish</li>
            </ul>

            <div class="amount">
              <h3 class="amount__title">Miqdori:</h3>
              <div class="amount-btns">
                <button class="add-btn"><img src="{% static 'images/add-circle.png' %}" alt=""></button>
                <span class="amount-result">1</span>
                <button class="minus-btn"><img src="{% static 'images/minus-cirlce.png' %}" alt=""></button>
              </div>
            </div>
            <div class="about-content__btns">
              <a href=""> <button>Savatcha</button></a>

            </div>
          </div>
        </div>
        <hr>

        <h2 class="about-product__title">Mahsulot haqida:</h2>
        <p class="about-product__info">
          {{object.description}}
        </p>

        <h2 class="similar-product__title">O‘xshash mahsulotlar:</h2>
        <ul class="similar-product__list discounts-list">
          {% for object in related_products %}
          <li class="discounts-list__item">
            <img class="discounts-list__img" src="{{object.product_images.all.0.image.url}}" alt="Best seller computer">
            <h3 class="discounts-list__title">{{object.name}}</h3>
            <div class="discounts-list__price">${{object.price}}</div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  </main>

  {% endblock %}