{% extends 'base.html'%}
{% load static %}
{% block content %}
  <main>
    <section class="hero">
      <div class="swiper">

        <div class="swiper-wrapper">
          <div class="swiper-slide hero-slide">
            <h1 class="hero-slide__title">Yangi Noutbuk va <br> aksessuarlari</h1>
            <p class="hero-slide__text">Varius amet volutpat volutpat ante odio egestas. <br> Felis vel sodales
              suspendisse magna praesent vitae <br> pulvinar nisl, sit. </p>
            <button class="hero-slide__btn">Barchasi</button>
          </div>

          <div class="swiper-slide hero-slide">
            <h1 class="hero-slide__title">Yangi Noutbuk va <br> aksessuarlari</h1>
            <p class="hero-slide__text">Varius amet volutpat volutpat ante odio egestas. <br> Felis vel sodales
              suspendisse magna praesent vitae <br> pulvinar nisl, sit. </p>
            <button class="hero-slide__btn">Barchasi</button>
          </div>

          <div class="swiper-slide hero-slide">
            <h1 class="hero-slide__title">Yangi Noutbuk va <br> aksessuarlari</h1>
            <p class="hero-slide__text">Varius amet volutpat volutpat ante odio egestas. <br> Felis vel sodales
              suspendisse magna praesent vitae <br> pulvinar nisl, sit. </p>
            <button class="hero-slide__btn">Barchasi</button>
          </div>
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

      </div>
    </section>

    <section class="social-media">
      <div class="container">
        <div class="social-media-inner">
          <div class="telegram-channel">
            <h2 class="telegram-channel__title">
              Barcha mahsulotlarni ko‘rish <br> uchun telegram kanalimizga o‘ting
            </h2>

            <p class="telegram-channel__info">
              Chegirma <span>40% Flate</span>
            </p>

            <button class="telegram-channel__btn">Telegram</button>
          </div>

          <div class="promotions">
            <div class="promotions__start">
              <button class="promotions__btn">Promotion of the month</button>
              <h2 class="promotions__title">Noutbuk sotib olsangiz <br> 3ta 50% chegirma</h2>
            </div>

            <div class="promotions__cards">
              <div class="promotions__card">
                <h3 class="promotions-card__title">СПЕЦИИ</h3>
                <p class="promotions-card__info">Натуральные ароматные специи</p>
                <span class="promotions-card__sales">20 byn = 0</span>
              </div>
              <div class="promotions__card">
                <h3 class="promotions-card__title">СКИДКА</h3>
                <p class="promotions-card__info">На следующие заказаы</p>
                <span class="promotions-card__sales">5%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="best-seller-box">
      <div class="container">
        <div class="best-seller">
          <h2 class="best-seller__title">Eng ko‘p sotilganlar</h2>
          <ul class="best-seller-list">
            <li class="best-seller-list__item">
              <img class="best-seller-list__img" src="./images/cards-img.png" alt="Best seller computer">
              <h3 class="best-seller-list__title">HP Noutbuk. Sichqoncha va qo‘shimcha aksessuarlari</h3>
              <div class="best-seller-list__price">$1200</div>
            </li>
            <li class="best-seller-list__item">
              <img class="best-seller-list__img" src="./images/cards-img.png" alt="Best seller computer">
              <h3 class="best-seller-list__title">HP Noutbuk. Sichqoncha va qo‘shimcha aksessuarlari</h3>
              <div class="best-seller-list__price">$1200</div>
            </li>
            <li class="best-seller-list__item">
              <img class="best-seller-list__img" src="./images/cards-img.png" alt="Best seller computer">
              <h3 class="best-seller-list__title">HP Noutbuk. Sichqoncha va qo‘shimcha aksessuarlari</h3>
              <div class="best-seller-list__price">$1200</div>
            </li>
            <li class="best-seller-list__item">
              <img class="best-seller-list__img" src="./images/cards-img.png" alt="Best seller computer">
              <h3 class="best-seller-list__title">HP Noutbuk. Sichqoncha va qo‘shimcha aksessuarlari</h3>
              <div class="best-seller-list__price">$1200</div>
            </li>
          </ul>

          <button class="best-seller__btn">Barchasi</button>
        </div>
      </div>
    </section>

    <section class="discounts-box">
      <div class="container">
        <div class="discounts">
          <h2 class="discounts__title">Chegirmadagilar</h2>
          <ul class="discounts-list">
            <li class="discounts-list__item">
              <img class="discounts-list__img" src="./images/cards-img.png" alt="Best seller computer">
              <h3 class="discounts-list__title">HP Noutbuk. Sichqoncha va qo‘shimcha aksessuarlari</h3>
              <div class="discounts-list__price">$1200</div>
            </li>
            <li class="discounts-list__item">
              <img class="discounts-list__img" src="./images/cards-img.png" alt="Best seller computer">
              <h3 class="discounts-list__title">HP Noutbuk. Sichqoncha va qo‘shimcha aksessuarlari</h3>
              <div class="discounts-list__price">$1200</div>
            </li>
            <li class="discounts-list__item">
              <img class="discounts-list__img" src="./images/cards-img.png" alt="Best seller computer">
              <h3 class="discounts-list__title">HP Noutbuk. Sichqoncha va qo‘shimcha aksessuarlari</h3>
              <div class="discounts-list__price">$1200</div>
            </li>
            <li class="discounts-list__item">
              <img class="discounts-list__img" src="./images/cards-img.png" alt="Best seller computer">
              <h3 class="discounts-list__title">HP Noutbuk. Sichqoncha va qo‘shimcha aksessuarlari</h3>
              <div class="discounts-list__price">$1200</div>
            </li>
          </ul>

          <button class="discounts__btn">Barchasi</button>
        </div>
      </div>
    </section>

    <section class="categories-box">
      <div class="container">
        <div class="categories">
          <h2 class="categories__title">Barcha kategoriyalar</h2>
          <ul class="categories-list">
            <li class="categories-list__item">
              <h2 class="categories-list__title">
                Naushnik, sichqoncha va klaviatura
              </h2>
              <a class="categories-list__link" href="#">Barchasini ko'rish</a>
            </li>
            <li class="categories-list__item">
              <h2 class="categories-list__title">
                Kompyuter aksesuarlari
              </h2>
              <a class="categories-list__link" href="#">Barchasini ko'rish</a>
            </li>
            <li class="categories-list__item">
              <h2 class="categories-list__title">
                Noutbuklar
              </h2>
              <a class="categories-list__link" href="#">Barchasini ko'rish</a>
            </li>
            <li class="categories-list__item">
              <h2 class="categories-list__title">
                Noutbuklar
              </h2>
              <a class="categories-list__link" href="#">Barchasini ko'rish</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="about-box">
      <div class="container">
        <div class="about">
          <h2 class="about__title">Biz haqimizda</h2>
          <div class="about-cards-box">
            <div class="about-comments-list">
              <div class="about-comments__card">
                <h3 class="about-comments-card__title">1800+ <br><span>sharhlar</span></h3>
                <p class="about-comments-card__info">Consequat tincidunt commodo consectetur mauris non nibh.</p>
              </div>
              <div class="about-comments__card">
                <h3 class="about-comments-card__title">4 <br><span>yil</span></h3>
                <p class="about-comments-card__info">Consequat tincidunt commodo consectetur mauris non nibh.</p>
              </div>
              <div class="about-comments__card">
                <h3 class="about-comments-card__title">Diler</h3>
                <p class="about-comments-card__info">Consequat tincidunt commodo consectetur mauris non nibh.</p>
              </div>
              <button class="about-comments-card__btn">Batafsil</button>
            </div>

            <div class="about-cards">
              <div class="about-card">
                <button class="about-card__btn">Do'kon</button>
              </div>
              <div class="about-card">
                <button class="about-card__btn">Do'kon</button>
              </div>
            </div>
          </div>
          <img class="about-image" src="./images/about-section-img.png" alt="img">
        </div>
      </div>
    </section>

    <section class="why-us-box">
      <div class="container">
        <div class="why-us">
          <h2 class="why-us__title">Nega aynan biz ?</h2>
          <ul class="why-us-list">
            <li class="why-us-list__card">
              <img class="why-us-card__img" src="./images/why-us-card1.png" alt="icon">
              <h3 class="why-us-card__title">Tez va sifatli yetkazib berish</h3>
              <p class="why-us-card__info">O‘zbekiston bo‘ylab tez va sifatli yetkazib berish</p>
            </li>
            <li class="why-us-list__card">
              <img class="why-us-card__img" src="./images/why-us-card2.png" alt="icon">
              <h3 class="why-us-card__title">Arzon narxlar</h3>
              <p class="why-us-card__info">Barcha yirik dilerlar bizdan sotib oladi Bizda arzonroq yanada arzonroq
                sotamiz</p>
            </li>
            <li class="why-us-list__card">
              <img class="why-us-card__img" src="./images/why-us-card3.png" alt="icon">
              <h3 class="why-us-card__title">Kafolat</h3>
              <p class="why-us-card__info">Biz mahsulotlar sifatiga kafolat beramiz</p>
            </li>
            <li class="why-us-list__card">
              <img class="why-us-card__img" src="./images/why-us-card4.png" alt="icon">
              <h3 class="why-us-card__title">Biz pulingizni qaytarib beramiz</h3>
              <p class="why-us-card__info">Mahsulotni alishtirish uchun 30 kun</p>
            </li>
            <li class="why-us-list__card">
              <img class="why-us-card__img" src="./images/why-us-card5.png" alt="icon">
              <h3 class="why-us-card__title">Har qanday turdagi to‘lov</h3>
              <p class="why-us-card__info">Naqd, va plastik karta:
                Visa, MasterCard, Uzcard.</p>
            </li>
            <li class="why-us-list__card">
              <img class="why-us-card__img" src="./images/why-us-card6.png" alt="icon">
              <h3 class="why-us-card__title">Mutaxassislar</h3>
              <p class="why-us-card__info">Mutaxassislar tomonidan tekshirilga va sifatli mahsulotlar</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="contact-box">
      <div class="container">
        <div class="contact">
          <h2 class="contact__title">Biz bilan bog‘lanish</h2>
          <div class="form-maps-box">
            <div class="contact-form-box">
              <h3 class="contact-form__title">Aloqa</h3>
              <form class="contact-form" action="https://echo.htmlacademy.ru" method="post" autocomplete="off">
                <input class="user-name-input" type="text" name="user_name" placeholder="Ism" required>
                <input class="user-lastname-input" type="text" name="user_lastname" placeholder="Familiya" required>
                <input class="user-tel-input" type="number" name="user_tel" placeholder="Tel" required>
                <input class="user-email-input" type="email" name="user_email" placeholder="Email" required>
                <input class="user-comment-input" type="text" name="user_comment" placeholder="Mavzu:" required>
                <button class="contact-form__btn">Xabar qoldirish</button>
              </form>
            </div>
            <iframe class="gmap_iframe" src="https://maps.google.com/maps?width=1000&amp;height=500&amp;hl=en&amp;q=Andijan&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
          </div>
        </div>
      </div>
    </section>
  </main>

  {% endblock%}