{% extends 'base.html'%}
{% load static %}
{% block content %}
  <main>
    <section class="shopping-box">
      <div class="container">
        <div class="shopping">
          <h2 class="shopping__title">Savatcha</h2>
          <div class="all-price">
            Umumiy summa:
            <span>${{cart.total_price}}</span>
            Tovarlar soni:
            <span>{{cart.total_quantity}}</span>
          </div>


          <ul class="shopping-list">
            {% if cart.products %}
            {% for product in cart.products.all %}
            {% with product as item %}
            <li class="shopping-list__item shop-cart">
              <img class="shop-cart__img" 
              src="{{item.product.product_images.all.0.image.url}}" alt="img">

              <div class="shop-cart__contents">

                <h3 class="shop-cart__title">{{item.product.name}}</h3>
                <div class="shop-cart__price">
                  <span>${{item.product.get_discount_price}}</span>
                  <span>${{item.product.price}}</span>
                </div>

                <p class="shop-cart__info">{{item.product.description|truncatewords:'15'}}</p>

                <div class="shop-cart-btns">
                  <button class="shop-cart__btn">Sotib olish</button>
                  <button class="shop-cart__delete-btn" style="padding: 10px;">
                    <a href="{% url 'cart:delete' item.product.id item.quantity %}">
                    O'chirish
                  </a>
                  </button>
                </div>
              </div>
            </li>

            {% endwith %}
            {% endfor %}
            {% else %}
            <h2>Cart is empty !</h2>
            {% endif %}
          </ul>

     
          <button class="shopping-btn">Sotib olish</button>
        </div>
      </div>
    </section>
  </main>

 {% endblock%}