{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            {% for st in students %}
            <div class="col-sm-12 col-md-4 my-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{st.image.url}}" class="card-img-top" alt="{{st.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{st.get_fullname}}</h5>
                        <a href="#" class="btn btn-primary">View profile</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
