{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>

<body>
    {% include 'components/navbar.html'%}
    <br>
    <section>
        <div class="container">
            <h3>{{post.title}}</h3>
            <p>{{post.body}}</p>
        </div>
    </section>
</body>

</html>
