{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Home page</title>
</head>

<body>
    {% include 'components/navbar.html'%}
    <br>
    <section>
        <div class="container">
            <center>
                <h3>Category posts</h3>
            </center>
            <ul>
                {% for post in posts %}
                <li>
                    <a href="{% url 'main:detail' post.slug %}">
                        <h3>{{post.title}}</h3>
                    </a>
                    <p>{{post.body}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</body>

</html>
