{% extends 'wrapper.html' %} {% load static %} {% block content %}
<main>
  <section>
    <div class="container">
      <div class="row">
        <aside class="col-lg-9">
          <div class="card my-2">
            <div class="card-header">
              <h3>Cart = {{ cart.id}}</h3>
            </div>
            <div class="table-responsive">
              <table class="table table-borderless table-shopping-cart">
                <thead class="text-muted">
                  <tr class="small text-uppercase">
                    <th scope="col">Product</th>
                    <th scope="col" width="120">Quantity</th>
                    <th scope="col" width="120">Product Price</th>
                    <th scope="col" width="120">Total Price</th>

                  </tr>
                </thead>
                <tbody>
                  {% for object in cart.products.all %}
                  <tr>
                    <td>
                      <img
                        width="150"
                        src="{{object.product.image.url}}"
                        alt=""
                      />
                    </td>
                    <td width="20%">
                      <form
                        action="{% url 'cart:cart_item_update' %}"
                        class="d-flex gap-1"
                      >
                        <input
                          type="hidden"
                          value="{{object.id}}"
                          name="object_id"
                        />
                        <select class="form-select" name="quantity">
                          <option value="" selected>{{object.quantity}}</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                        <input type="submit" value="Update" />
                      </form>
                    </td>

                    <td>
                      <div class="price-wrap">
                        <small class="text-muted"> ${{object.product.get_discount_price}} </small>
                      </div>
                    </td>
                    <td>
                      <div class="price-wrap">
                        <small class="text-muted"> ${{object.price}} </small>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </aside>
        <aside class="col-lg-3">
          <br />
          <div class="card">
            <div class="card-body">
              <dl class="dlist-align">
                <dt>Total price:</dt>
                <dd class="text-right ml-3">$ {{cart.total_price}}</dd>
              </dl>
              <dl class="dlist-align">
                <dt>Quantity:</dt>
                <dd class="text-right text-danger ml-3">
                  {{cart.total_quantity}}
                </dd>
              </dl>
              <dl class="dlist-align">
                <dt>Total:</dt>
                <dd class="text-right text-dark b ml-3">
                  <strong>$59.97</strong>
                </dd>
              </dl>
              <hr />
              <a href="{% url 'cart:cart_remove' %}"
              class="btn btn-success"
              data-abc="true"> Clear Cart</a>
              <a
                href="#"
                class="btn btn-out btn-success btn-square btn-main mt-2"
                data-abc="true"
                >Continue Shopping</a
              >
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</main>
{% endblock %}
