{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
<main>
    <section>
        <div class="container">
            <div class="p-2 p-md-2 my-2 text-white rounded bg-dark">
                <div class="col-md-6 px-0">
                    <h3>Category : {{object_list.0.category}}</h3>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-2">
                  <div class="card">
                    <div class="list-group">
                      {% for c in categories %}
                        <a href="{% url 'main:category_list' c.slug %}" class="list-group-item list-group-item-action" aria-current="true">
                          {{c.name}}
                        </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="col-10">
                    <div class="row">
                      {% for object in object_list %}
                      <div class="col-md-3">
                          <div class="card" style="width: 18rem;">
                              <img src="{{object.image.url}}" class="card-img-top" alt="...">
                              <div class="card-body">
                                <div class="d-flex justify-content-between">
                                  <h5 class="card-title">{{object.name}}</h5>
                                  <span class="fw-bold p-1 bg-warning rounded">-{{object.discount}}%</span>
                                </div>
                                <h4 class="card-title fw-bold text-dark">
                                  <strike class="text-muted">${{object.price}}</strike>
                                  ${{object.get_discount_price}}
                              </h4>
                                <p class="card-text">
                                  {{object.description|truncatewords:'10'}}
                                </p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                            </div>
                      </div>
                      {% endfor %}
                    </div>
                </div>
       
              </div>
        </div>
    </section>
</main>
{% endblock %}