{% extends '../base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container">
        <h3 class="text-center">Posts</h3>
        <div class="my-5"></div>
        <div class="posts d-flex justify-content-center align-items-center gap-5">
          
            <div class="card p-3 shadow">
                <h3>{{object.title}}</h3>
                <p>{{object.body}}</p>

                <p class="d-flex justify-content-start gap-2">
                    {% for tag in object.tag.all %}
                    <a href="#" class="text-primary text-decoration-none">
                        <i class="fa-solid fa-circle"></i>
                        {{tag.name}}
                    </a>                 
                    {% endfor %}
                </p>

                <p class="d-flex justify-content-around">
                    <a href="#" class="text-decoration-none">
                        <i class="fa-solid fa-eye"></i>
                        {{object.views}}
                    </a>
                    <a href="#" class="text-decoration-none">
                        <i class="fa-solid fa-user"></i>
                        {{object.author}}
                    </a>
                    <a href="#" class="text-decoration-none">
                        <i class="fa-solid fa-clock"></i>
                        {{object.published_date|date:'H:m'}}
                    </a>
                    <a href="#" class="text-decoration-none">
                        <i class="fa-solid fa-calendar"></i>
                        {{object.published_date|date:'d M Y'}}
                    </a>
                  
                </p>
            </div>

        </div>
        <div class="my-5"><hr></div>
           
        <div class="card px-4 py-3 shadow-lg d-flex justify-content-around">
            <h3>Post rating : <span id="article_rating">{{object.average_rating}}</span></h3>
            <div class="d-flex gap-3">
                <a href="#" onclick="SetArticleRating(1,{{object.id}})" class="text-decoration-none fs-4 text-warning d-flex flex-column text-center">
                    <i class="fa-solid fa-star"></i>
                    <span class="text-muted fs-5">1</span>
                </a>
                <a href="#" onclick="SetArticleRating(2,{{object.id}})"  class="text-decoration-none fs-4 text-warning d-flex flex-column text-center">
                    <i class="fa-solid fa-star"></i>
                    <span class="text-muted fs-5">2</span>
                </a>
                <a href="#" onclick="SetArticleRating(3,{{object.id}})"  class="text-decoration-none fs-4 text-warning d-flex flex-column text-center">
                    <i class="fa-solid fa-star"></i>
                    <span class="text-muted fs-5">3</span>
                </a>
                <a href="#" onclick="SetArticleRating(4,{{object.id}})"  class="text-decoration-none fs-4 text-warning d-flex flex-column text-center">
                    <i class="fa-solid fa-star"></i>
                    <span class="text-muted fs-5">4</span>
                </a>
                <a href="#" onclick="SetArticleRating(5,{{object.id}})"  class="text-decoration-none fs-4 text-warning d-flex flex-column text-center">
                    <i class="fa-solid fa-star"></i>
                    <span class="text-muted fs-5">5</span>
                </a>    
                <input type="hidden" id="token" name="csrfmiddlewaretoken" value="">   
            </div>
            <h5 class="my-3">Post comments : <span>{{comments.count }}</span></h5>
            {% for comment in comments %}
            <div class="comment p-2">
                {% if comment.user == None %}
                    <h5>Anonymus user</h5>
                {% else %}
                    <h5>{{comment.user}}</h5>
                {% endif %}
                <p>{{comment.comment}}</p>
                {% if request.user.is_superuser %}
                <div class="float-end">
                    <a href="{% url 'articles:delete_comment' comment.id %}">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
                {% endif %}
                <hr width="300">
            </div>
            {% endfor %}
            <div>
                <div>
                    {% if messages %}
                    <div class="messages list-style-none w-50">
                        {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}
                            <button class="float-end" onclick="this.parentElement.style.display= 'none'">&times;</button>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <form action="" method="post">
                    <p>
                        {% csrf_token %}
                        <textarea name="comment" id=""  cols="50" rows="4"></textarea>
                    </p>
                    <input type="submit" class="btn btn-success">
                </form>         
            </div>
     </div>
        </div>
        <div class="my-5"></div>
</main>

{% endblock %}
