*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.3s ease-in-out;
}
body{
    background-color: #333;
    color: white;
}
section{
    margin: 50px 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.flexbox{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    border:  solid 5px red;
    min-height: 400px;
}
.box{
    padding: 50px;
    margin: 10px;
    background-color: orange;
    text-align: center;
    vertical-align: middle;
    border: solid 1px #ccc;
}

.box:nth-child(1){
    flex-grow: 1;
}
.box:nth-child(2){
    flex-grow: 2;
    flex-shrink: 2;
}
.box:nth-child(3){
    flex-grow: 1;
}
