{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
  <section>
    <center class="my-5">
      <h3>All products</h3>
    </center>
    <div class="container">
      <div class="row mb-2">
        {% for product in object_list %}
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">{{product.category}}</strong>
              <h3 class="mb-0">{{product.name}}</h3>
              <div class="mb-1 fw-bold fs-3 text-warning">$ {{product.price}}</div>
              <p class="card-text mb-auto">
                {{product.description|truncatewords:'15'}}
              </p>
              <p>
                <a href="{% url 'cart:add' product.id %}" class="btn btn-warning mt-1 px-5">Buy</a>
              </p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="{{product.image.url}}" width="200" height="300" alt="">
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock %}
