
<!doctype html>
<html lang="en">
    <head>
        <title>DevBlog</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> 
        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <script src="./js/snippet.js"></script>
    </head>

    <body>
        <header>
            <!-- place navbar here -->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
                <div class="container">
                  <a class="navbar-brand" href="/">DevBlog</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Contact me</a>
                      </li>
                    </ul>
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" control-id="ControlID-1">
                      <button class="btn btn-outline-success" type="submit" control-id="ControlID-2">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
        </header>
        <main>
                  
                        <!-- Notifications -->

                        <div class="toast position-fixed top-0 end-0 m-1  text-bg-success show" role="alert" aria-live="assertive" aria-atomic="true">
                          <div class="toast-header">
                              <strong class="me-auto">Success !</strong>
                              <small>Message</small>
                              <button type="button" class="btn-close" data-bs-dismiss="toast"
                                  aria-label="Close"></button>
                          </div>
                          <div class="toast-body d-flex">
                              Hello, world! This is a toast message.
                          </div>
                      </div>
                      <br>

                      <!-- Notifications -->
            <section>
     
              <div class="container-md">


                <div class="d-flex flex-wrap my-3">
                    <div class="d-flex flex-wrap mx-3 my-2">
                        <button type="button" class="btn btn-primary position-relative">
                            Inbox
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                    </div>
                    <div class="d-flex flex-wrap mx-3 my-2">
                        <button type="button" class="btn btn-primary position-relative">
                            Inbox
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                    </div>
                    <div class="d-flex flex-wrap mx-3 my-2">
                        <button type="button" class="btn btn-primary position-relative">
                            Inbox
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
                <div class="container-md">
                    <div class="row">
                        <div class="col-sm-12 col-md-9">
                          <!-- Post card  -->
                            <div class="card  mb-3">
                                <div class="card-body">
                                    <div class="content">
                                        <a href="./detail.html" class="text-decoration-none"><h4 class="card-title fw-bold">Card title</h4></a>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ut minima exercitationem tenetur a, tempora facere alias consectetur perspiciatis ex odio repellendus recusandae explicabo suscipit quaerat totam amet dicta officia.</p>
                                        <span class="badge rounded-pill text-bg-secondary">Secondary</span>
                                        <span class="badge rounded-pill text-bg-secondary">Secondary</span>
                                        <span class="badge rounded-pill text-bg-secondary">Secondary</span>
                                        <span class="badge rounded-pill text-bg-secondary">Secondary</span>
                                        <br>
                                        <span class="badge bg-primary rounded-pill">
                                          <i class="bi bi-list-stars"></i>
                                          140
                                      </span>
                                        <span class="badge bg-primary rounded-pill">
                                          <i class="bi bi-eye"></i> 
                                          14 
                                    </span>
                                        <span class="badge bg-primary rounded-pill">
                                          <i class="bi bi-chat-square-text"></i>
                                          14 
                                    </span>
                                        <a href="#" class="btn btn-secondary float-end">Read</a>
                                    </div>
                                </div>
                              </div>
                              <!-- End Post card  -->
                            <!-- END POST CARDS  -->
                            <!-- PAGINATION  -->
                            <nav aria-label="...">
                                <ul class="pagination">
                                  <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">2</a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                  </li>
                                </ul>
                              </nav>
                        </div>
                        <div class="col-sm-none col-md-3">
                            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 380px;">
                                <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
                                  <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                                  <span class="fs-5 fw-semibold">Last comments</span>
                                </a>
                                <div class="list-group list-group-flush border-bottom scrollarea">
                                  <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                      <strong class="mb-1">List group item heading</strong>
                                      <small>Wed</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                  </a>
                                  <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                      <strong class="mb-1">List group item heading</strong>
                                      <small class="text-body-secondary">Tues</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                  </a>
                                  <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                      <strong class="mb-1">List group item heading</strong>
                                      <small class="text-body-secondary">Mon</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                  </a>
                            
                                  <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                      <strong class="mb-1">List group item heading</strong>
                                      <small class="text-body-secondary">Wed</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                  </a>
                                  <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                      <strong class="mb-1">List group item heading</strong>
                                      <small class="text-body-secondary">Tues</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                  </a>
                                  <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                      <strong class="mb-1">List group item heading</strong>
                                      <small class="text-body-secondary">Mon</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                  </a>
                                  <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                      <strong class="mb-1">List group item heading</strong>
                                      <small class="text-body-secondary">Wed</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                  </a>
                                  <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                      <strong class="mb-1">List group item heading</strong>
                                      <small class="text-body-secondary">Tues</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                  </a>
                                  <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                      <strong class="mb-1">List group item heading</strong>
                                      <small class="text-body-secondary">Mon</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                  </a>
                                  <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                      <strong class="mb-1">List group item heading</strong>
                                      <small class="text-body-secondary">Wed</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                  </a>
                                  <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                      <strong class="mb-1">List group item heading</strong>
                                      <small class="text-body-secondary">Tues</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                  </a>
                                  <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                      <strong class="mb-1">List group item heading</strong>
                                      <small class="text-body-secondary">Mon</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                                  </a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </section>
            
         
        </main>
        <footer class="footer mt-auto text-white-50 bg-dark">

          <div class="container">
              <div class="row my-5">
                  <div class="col-12">
                      <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb" class="py-3">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/" class="text-decoration-none">Home</a></li>
                              <li class="breadcrumb-item " aria-current="page">
                                  <a href="#" class="text-decoration-none">Contact me</a>
                              </li>
                          </ol>
                      </nav>
                  </div>
              </div>
          </div>
      </footer>
      
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
