*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    transition: all 0.3s ease-in-out;
}
section{
    margin: 20px 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}
.body-dark{
    background-color: rgb(255, 255, 255);
}
