<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chiqim qo'shish</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-in">
                <h2 class="header__title">Chiqimlar</h2>
                <span class="header__add" style="font-size: 50px;">+</span>
            </div>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <div class="main-in">
                    <h2>Chiqim qo'shish</h2>
                    <div class="form">
                        <select class="selection">
                            <option class="options" style="font-size: 12px;">Kommunal</option>
                            <option class="options" style="font-size: 12px;">Benzin</option>
                            <option class="options" style="font-size: 12px;">Boshqalar</option>
                        </select>
                        <input class="fields" type="text" placeholder="Summasi">
                        <textarea class="fields_text" placeholder="Izoh (to'ldirish shart emas)"></textarea>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>