<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barcha turkumlar</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-in">
                <h2 class="header__title">Barcha turkumlar</h2>
                <span class="header__add" style="font-size: 50px;">+</span>
            </div>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <div class="main-in">
                    <div class="statistics">
                        <div class="innumbers">
                            <div class="technically">
                                <b style="color: grey;">Ishlatildi</b>
                                <b>205.000</b>
                            </div>
                            <div class="technically">
                                <b style="color: grey;">Oylik limit</b>
                                <b>2.000.000</b>
                            </div>
                        </div>
                        <div class="linegraph">
                            <div style="background-color: #F46040; width: 25%;"></div>
                            <div style="background-color: #56BADA; width: 25%;"></div>
                            <div style="background-color: #6347EB; width: 25%;"></div>
                            <div style="background-color: #EAE9F0; width: 25%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="latest">
            <div class="container">
                <div class="latest-in">
                    <h1 class="latest__title">Turkumlar</h1>
                    <div class="latest__categories">
                        <div class="latest__categories--list">
                            <div class="latest__categories--exact">
                                <div class="latest__categories--for">
                                    <img class="latest__categories--image" src="./images/Hamburger.svg" alt="Hamburger">
                                    <b>Ovqat uchun</b>
                                </div>
                                <b>13ta</b>
                            </div>
                            <div class="latest__categories--exact">
                                <div class="latest__categories--for">
                                    <img class="latest__categories--image" src="./images/Taxi.svg" alt="Taxi">
                                    <b>Taxi</b>
                                </div>
                                <b>20ta</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>