<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umumiy sahifasi</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-in">
                <h2 class="header__title">Umumiy statistika</h2>
                <span class="header__add" style="font-size: 50px;">+</span>
            </div>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <div class="main-in">
                    <div class="calendar">
                        <div class="calendar--title">
                            <span class="calendar--months">Oylar</span>
                            <span class="calendar--days">Kunlar</span>
                        </div>
                        <div>
                            <div class="months">
                                <div class="options-name">Yanvar</div>
                                <div class="options-name">Fevral</div>
                                <div class="options-name">Mart</div>
                                <div class="options-name">Aprel</div>
                                <div class="options-name">May</div>
                                <div class="options-name">Iyun</div>
                                <div class="options-name">Iyul</div>
                                <div class="options-name">Avgust</div>
                                <div class="options-name">Sentabr</div>
                                <div class="options-name">Oktabr</div>
                                <div class="options-name">Noyabr</div>
                                <div class="options-name">Dekabr</div>
                            </div>
                            <div class="days">
                                <div class="options-name">1</div>
                                <div class="options-name">2</div>
                                <div class="options-name">3</div>
                                <div class="options-name">4</div>
                                <div class="options-name">5</div>
                                <div class="options-name">6</div>
                                <div class="options-name">7</div>
                                <div class="options-name">8</div>
                                <div class="options-name">9</div>
                                <div class="options-name">10</div>
                                <div class="options-name">11</div>
                                <div class="options-name">12</div>
                                <div class="options-name">13</div>
                                <div class="options-name">14</div>
                                <div class="options-name">15</div>
                                <div class="options-name">16</div>
                                <div class="options-name">17</div>
                                <div class="options-name">18</div>
                                <div class="options-name">19</div>
                                <div class="options-name">20</div>
                                <div class="options-name">21</div>
                                <div class="options-name">22</div>
                                <div class="options-name">23</div>
                                <div class="options-name">24</div>
                                <div class="options-name">25</div>
                                <div class="options-name">26</div>
                                <div class="options-name">27</div>
                                <div class="options-name">28</div>
                                <div class="options-name">29</div>
                                <div class="options-name">30</div>
                            </div>
                        </div>
                    </div>
                    <h3>Iyun - 2024 uchun chiqimlar</h3>
                    <span class="bolder">135.000</span>
                    <div class="statistics">
                        <div class="innumbers">
                            <div class="technically">
                                <b style="color: grey;">Ishlatildi</b>
                                <b>205.000</b>
                            </div>
                            <div class="technically">
                                <b style="color: grey;">Oylik limit</b>
                                <b>2.000.000</b>
                            </div>
                        </div>
                        <div class="linegraph">
                            <div style="background-color: #F46040; width: 25%;"></div>
                            <div style="background-color: #56BADA; width: 25%;"></div>
                            <div style="background-color: #6347EB; width: 25%;"></div>
                            <div style="background-color: #EAE9F0; width: 25%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="./js/overall.js"></script>
</body>
</html>