{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
    <main>
        <div class="container">
            <div class="main-in">
                <h2>Chiqimlar</h2>
                <img class="image" src="{% static 'images/password-reset.svg' %}" alt="Password reset image">
                <span class="subtitle">Parol esdan chiqgan bo’lsa email pochtangizni kiriting biz unga tiklash uchun link yuboramiz.</span>
                <form class="form" action="" method="post">
                    {% csrf_token %}
                    <h2>Parolni tiklash</h2>
                    <input class="fields" type="email" name="email" placeholder="Email *" required>
                    <button class="submit" type="submit">Tiklash</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}