{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
    <main>
        <div class="container">
            <div class="main-in">
                <h2>Chiqimlar</h2>
                <img class="image" src="{% static 'images/password-confirm.svg' %}" alt="Password confirm image">
                <span class="subtitle">Parolni tiklash uchun biz pochtangizga xabar yubordik iltimos pochta qutingizni tekshiring !</span>
                <a href="{% url 'main:login' %}" class="submit">Kirish</a>
                <a href="{% url 'main:register' %}" class="submit">Ro'yhatdan o'tish</a>
            </div>
        </div>
    </main>
{% endblock %}