<main>
    <div class="container">
        <div class="message">
            <p>Hi</p>

            <p>You're receiving this email because you requested a password reset for your user account at {{domain}}/
            </p>

            <p>Please click the following link to reset your password:</p>

            {{ protocol }}://{{ domain }}{% url "main:password_reset_confirm" uidb64=uid token=token %}

            <p>Thanks</p>
            <p>Chiqim App Team</p>
        </div>
    </div>
</main>
<style>
    *{
        font-family: sans-serif;
    }
    main{
        padding: 5%;
    }
    .container{
        max-width: 1000px;
        margin: 0 auto;
        background-color: aqua;
        border-radius: 20px;
    }
</style>