{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
    <main>
        <div class="container">
            <div class="main-in">
                <h2>Chiqimlar</h2>
                <img class="image" src="{% static 'images/password-reset-form.svg' %}" alt="Login image">
                <h2>Parolni tiklash</h2>
                <form class="form" action="" method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {{ form.errors }}
                        </div>
                    {% endif %}
                    <input class="fields" type="password" name="new_password1" placeholder="Yangi parol *" required>
                    <input class="fields" type="password" name="new_password2" placeholder="Yangi parol takroran *" required>
                    <button class="submit" type="submit">Saqlash</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}