<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sozlamalar</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-in">
                <h2>Sozlamalar</h2>
                <span class="header__add" style="font-size: 50px;">+</span>
            </div>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <div class="main-in">
                    <h2 style="margin-top: 20px;">Limit belgilash</h2>
                    <form class="form">
                        <input class="fields" type="text" placeholder="Bu oy uchun limitni kiriting" required>
                        <button class="submit" type="submit">Saqlash</button>
                    </form>
                    <h2 style="margin-top: 20px;">Turkum qo'shish</h2>
                    <form class="form">
                        <input class="fields" type="text" placeholder="Turkum nomi" required>
                        <input class="fields" type="file" placeholder="Icon" required>
                        <button class="submit" type="submit">Saqlash</button>
                    </form>
                    <h2 style="margin-top: 20px;">Kirish kodini o'zgartirish</h2>
                    <form class="form">
                        <input class="fields" type="password" placeholder="Eski kod" required>
                        <input class="fields" type="password" placeholder="Yangi kod" required>
                        <button class="submit" type="submit">Saqlash</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
</html>