<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bu oy sahifasi</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-in">
                <h2>Chiqimlar</h2>
                <h2 style="font-size: 50px;">+</h2>
            </div>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <div class="main-in">
                    <select class="selection">
                        <option class="options">Yanvar 2024</option>
                        <option class="options">Fevral 2024</option>
                        <option class="options">Mart 2024</option>
                        <option class="options">Aprel 2024</option>
                    </select>
                    <span class="bolder">205.000</span>
                    <div class="statistics">
                        <div class="innumbers">
                            <div class="technically">
                                <b style="color: grey;">Ishlatildi</b>
                                <b>205.000</b>
                            </div>
                            <div class="hero__technically">
                                <b style="color: grey;">Oylik limit</b>
                                <b>2.000.000</b>
                            </div>
                        </div>
                        <div class="linegraph">
                            <div style="background-color: #F46040; width: 25%;"></div>
                            <div style="background-color: #56BADA; width: 25%;"></div>
                            <div style="background-color: #6347EB; width: 25%;"></div>
                            <div style="background-color: #EAE9F0; width: 25%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="latest">
            <div class="container">
                <div class="latest-in">
                    <h2>So'ngi chiqimlar</h2>
                    <div class="latest__categories">
                        <div>
                            <div class="latest__categories--exact">
                                <div class="latest__categories--for">
                                    <img class="latest__categories--image" src="./images/Hamburger.svg" alt="Hamburger">
                                    <b>Ovqat uchun</b>
                                </div>
                                <b>50.000</b>
                            </div>
                            <div class="latest__categories--exact">
                                <div class="latest__categories--for">
                                    <img class="latest__categories--image" src="./images/Taxi.svg" alt="Taxi">
                                    <b>Taxi</b>
                                </div>
                                <b>20.000</b>
                            </div>
                            <div class="latest__categories--exact">
                                <div class="latest__categories--for">
                                    <img class="latest__categories--image" src="./images/T Shirt.svg" alt="T Shirt">
                                    <b>Kiyim kechak</b>
                                </div>
                                <b>135.000</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>