{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<header>
    <nav class="contianer">
        <ul class="nav px-5 py-3 ">
            <li class="nav-item">
                <a href="/" class="nav-link fw-bold">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'articles:post_list' %}" class="nav-link fw-bold">Posts</a>
            </li>
        </ul>
    </nav>
</header>
<body>
{% block content %}
{% endblock %}

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>