<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-tahiti">
    <div class="container-xl mx-auto my-5 px-4 text-center ">
        <div class="flex flex-wrap justify-center gap-3">
            <div class="w-96 bg-yellow-400 shadow-sm rounded my-5 md:my-auto h-full">
                <div class="player">
                    <h4 class="font-bold text-lg">Antony Elanga</h4>
                    <h5>Manchester United</h5>
                    <h5>Rating: <span class="font-bold">76</span> </h5>
                    <h5>Sweden</h5>
                </div>
            </div>
            <div class="w-96 bg-yellow-400 shadow-sm rounded my-5">
                card
            </div>
            <div class="w-96 bg-yellow-400 shadow-sm rounded my-5">
                card
            </div>
        </div>
    </div>
</body>

</html>
