<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-tahiti">
    <div class="container-xl mx-auto my-5 px-4 text-center">
        <div class="columns-1 md:columns-2 lg:columns-3">
            <div class="w-full bg-yellow-400 shadow-sm rounded my-5 md:my-auto">
                <div class="player">

                </div>
            </div>
            <div class="w-full bg-yellow-400 shadow-sm rounded my-5">
                card
            </div>
            <div class="w-full bg-yellow-400 shadow-sm rounded my-5">
                card
            </div>
        </div>
    </div>
</body>

</html>
