{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dandana</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <!-- <link rel="stylesheet" href="./css/all-minifier.css"> -->
  <link rel="icon" href="{% static 'image/qoyiq.png' %}">
</head>
<body>
{% block content %}

  
{% endblock %}
</body>
<script src="{% static 'js/main.js' %}"></script>
</html>
