<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/main.css">
  <!-- <link rel="stylesheet" href="./css/all-minifier.css"> -->
  <link rel="icon" href="./image/qo'yiq.png">
</head>
<body>

<!-- HEADER -->

<header class="dandana-header">
  <div class="container">
    <div class="dandana-header__inner">

      <div class="dandana-header__inner-burger">
        <span class="inner__burger-span"></span>
        <span class="inner__burger-span"></span>
        <span class="inner__burger-span"></span>
      </div>

      <a class="dandana-header__inner-hd1" href="index.html">Salom, mehmon !</a>

      <form class="dandana-header__inner-form">
        <img class="inner__form-img" src="./image/loop.png" alt="">
        <input class="inner__form-search" type="text" placeholder="Bugun qanday taom ta’tib ko’ramiz ?">
      </form>

    </div>
  </div>
</header>

<div class="second-serve">
  <form class="second-serve__form">
    <img class="second-serve__form-img" src="./image/loop.png" alt="">
    <input class="second-serve__form-inp" type="text" placeholder="Bugun qanday taom ta’tib ko’ramiz ?">
  </form>
</div>

<!-- MAIN -->


<main>
<section class="menu">
  <div class="container">
    <div class="menu-inner">
      <!-- text -->
      <div class="menu-inner__text">
        <h2 class="menu-inner__text-hd2">Mashhur taomlarimiz</h2>
        <a href="#" class="menu-inner__text-link">Barchasini ko’rish <img src="./image/Vector.png" alt=""></a>
      </div>
      <!-- text -->
      <!-- cards -->
      <div class="menu-inner__cards">
        <div class="menu-inner__cards-items">
          <div class="cards__items-img">
            <img class="big-lagmon" src="./image/lag'mon.png" alt="">
          </div>

          <div class="cards__items-text">
            <div class="items__text-about">
              <img  src="./image/rating.png" alt="">
              <p class="text__about-title">Uyg'ur Lag'mon</p>
              <span class="text__about-span">25.000</span>
            </div>
            <img class="fir-plus pluses" src="./image/button-plus.png" alt="">
          </div>
        </div>

        <div class="menu-inner__cards-items">
          <div class="cards__items-img">
            <img class="big-lagmon" src="./image/lag'mon.png" alt="">
          </div>

          <div class="cards__items-text">
            <div class="items__text-about">
              <img src="./image/rating.png" alt="">
              <p class="text__about-title">Uyg'ur Lag'mon</p>
              <span class="text__about-span">25.000</span>
            </div>
            <img class="fir-plus pluses" src="./image/button-plus.png" alt="">
          </div>
        </div>

        <div class="menu-inner__cards-items">
          <div class="cards__items-img">
            <img class="big-lagmon" src="./image/lag'mon.png" alt="">
          </div>

          <div class="cards__items-text">
            <div class="items__text-about">
              <img src="./image/rating.png" alt="">
              <p class="text__about-title">Uyg'ur Lag'mon</p>
              <span class="text__about-span">25.000</span>
            </div>
            <img class="fir-plus pluses" src="./image/button-plus.png" alt="">
          </div>
        </div>

      </div>
      <!-- cards -->
    </div>
  </div>
</section>

<section class="menu">
  <div class="container">
    <div class="menu-inner">
      <!-- text -->
      <div class="menu-inner__text">
        <h2 class="menu-inner__text-hd2">Mashhur taomlarimiz</h2>
        <a href="#" class="menu-inner__text-link">Barchasini ko’rish <img src="./image/Vector.png" alt=""></a>
      </div>
      <!-- text -->
      <!-- cards -->
      <div class="menu-inner__cards">
        <div class="menu-inner__cards-items">
          <div class="cards__items-img">
            <img class="big-lagmon" src="./image/lag'mon.png" alt="">
          </div>

          <div class="cards__items-text">
            <div class="items__text-about">
              <img  src="./image/rating.png" alt="">
              <p class="text__about-title">Uyg'ur Lag'mon</p>
              <span class="text__about-span">25.000</span>
            </div>
            <img class="fir-plus pluses" src="./image/button-plus.png" alt="">
          </div>
        </div>

        <div class="menu-inner__cards-items">
          <div class="cards__items-img">
            <img class="big-lagmon" src="./image/lag'mon.png" alt="">
          </div>

          <div class="cards__items-text">
            <div class="items__text-about">
              <img src="./image/rating.png" alt="">
              <p class="text__about-title">Uyg'ur Lag'mon</p>
              <span class="text__about-span">25.000</span>
            </div>
            <img class="fir-plus pluses" src="./image/button-plus.png" alt="">
          </div>
        </div>

        <div class="menu-inner__cards-items">
          <div class="cards__items-img">
            <img class="big-lagmon" src="./image/lag'mon.png" alt="">
          </div>

          <div class="cards__items-text">
            <div class="items__text-about">
              <img src="./image/rating.png" alt="">
              <p class="text__about-title">Uyg'ur Lag'mon</p>
              <span class="text__about-span">25.000</span>
            </div>
            <img class="fir-plus pluses" src="./image/button-plus.png" alt="">
          </div>
        </div>

      </div>
      <!-- cards -->
    </div>
  </div>
</section>

<section class="menu">
  <div class="container">
    <div class="menu-inner">
      <!-- text -->
      <div class="menu-inner__text">
        <h2 class="menu-inner__text-hd2">Mashhur taomlarimiz</h2>
        <a href="#" class="menu-inner__text-link">Barchasini ko’rish <img src="./image/Vector.png" alt=""></a>
      </div>
      <!-- text -->
      <!-- cards -->
      <div class="menu-inner__cards">
        <div class="menu-inner__cards-items">
          <div class="cards__items-img">
            <img class="big-lagmon" src="./image/lag'mon.png" alt="">
          </div>

          <div class="cards__items-text">
            <div class="items__text-about">
              <img  src="./image/rating.png" alt="">
              <p class="text__about-title">Uyg'ur Lag'mon</p>
              <span class="text__about-span">25.000</span>
            </div>
            <img class="fir-plus pluses" src="./image/button-plus.png" alt="">
          </div>
        </div>

        <div class="menu-inner__cards-items">
          <div class="cards__items-img">
            <img class="big-lagmon" src="./image/lag'mon.png" alt="">
          </div>

          <div class="cards__items-text">
            <div class="items__text-about">
              <img src="./image/rating.png" alt="">
              <p class="text__about-title">Uyg'ur Lag'mon</p>
              <span class="text__about-span">25.000</span>
            </div>
            <img class="fir-plus pluses" src="./image/button-plus.png" alt="">
          </div>
        </div>

        <div class="menu-inner__cards-items">
          <div class="cards__items-img">
            <img class="big-lagmon" src="./image/lag'mon.png" alt="">
          </div>

          <div class="cards__items-text">
            <div class="items__text-about">
              <img src="./image/rating.png" alt="">
              <p class="text__about-title">Uyg'ur Lag'mon</p>
              <span class="text__about-span">25.000</span>
            </div>
            <img class="fir-plus pluses" src="./image/button-plus.png" alt="">
          </div>
        </div>

      </div>
      <!-- cards -->
    </div>
  </div>
</section>

</main>
  <!-- SIDEBAR -->

  <div class="sidebar">
    <div class="sidebar-inner">

      <div class="sec-burger">
        <div class="anim1"></div>
        <div class="anim2"></div>
      </div>

      <div class="sidebar-inner__services">
        <p class="sidebar-inner__services-title"><span class="services__title-span">D</span>andana.</p>

        <div class="sidebar-inner__services-items">
          <a class="services__items-infos fir" href="index.html">
            <img class="items__infos-img location" src="./image/Restaurant-Location.svg" alt="">
            Asosiy
          </a>
          <a class="services__items-infos sec" href="orders.html">
            <img class="items__infos-img delivery" src="./image/Delivery.svg" alt="">
            Buyurtmalar
          </a>
          <a class="services__items-infos thr" href="#">
            <img class="items__infos-img bill" src="./image/Bill.svg" alt="">
            Kafe haqida
          </a>
          <a class="services__items-infos fou" href="#">
            <img class="items__infos-img like" src="./image/like.svg" alt="">
            Menga yoqdi !
          </a>
          <a class="services__items-infos fiv" href="#">
            <img class="items__infos-img dislike" src="./image/dislike.svg" alt="">
            Ma'qul kelmadi
          </a>
        </div>
      </div>

      <div class="sidebar-inner__card">
        <h3 class="sidebar-inner__card-hd3">Upgrade your <br>
          Account to Get Free<br> Voucher</h3>
          <button class="sidebar-inner__card-upgrade">Upgrade</button>
      </div>

      <div class="sidebar-inner__reserve">
        <p class="sidebar-inner__reserve-title">All rights Reserved <imgs class="reserve__title-symbol" src="./image/Symbol.png" alt=""></p>
          <h4 class="sidebar__reserve-hd4">By Abdurakhmon Rashidov, 2023</h4>
      </div>
    </div>
  </div>
  
</body>
<script src="./js/main.js"></script>
</html>
