{% extends '../base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}


<div class="container">
	<div class="card">
		<div class="card-header">			
			<hl class="">Login Form</hl> 
		<div class="card-body">
			<div class="mt-5 mb-5">
			{% block title %} <h2>Bxoд</h2>  {% endblock %} 	
			<div class="row">		 
				{% if not  request.user.is_authenticated %}
						<div class="col-sm-6">
						<form method="post" action=""> 
						{% csrf_token %} 
							{{form|crispy}}
							<input type="hidden" name="next" value=" {{ next }} ">
							<br>
							<input type="submit" value="Kirish" class="btn btn-success btn-outline"> 
						</form>
					</div>
					<div class="col-sm-6">
						<img src="/static/images/login.svg" class="w-75 h-75" alt="">
						
					<h2>You need register, please <a href="">Click here</a></h2>
					<h2>OR   <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a></h2>
					<h2>OR   <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google Account</a></h2>
					</div>

		
				{% else %}
			
				
					<div class="col-sm-6">
						<h3>Kechirasiz siz avtorizatsiyadan o'tgansiz. <a href="{% url 'accounts:app_logout' %}">Logout</a></h3>
						
					</div>
				</div>
				{% endif %}
				
				
		
			</div>
		</div>
	</div>
</div>


{% endblock %}