{% extends '../base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}


<div class="container">
	<div class="card">
		<div class="card-header">			
			<hl class="">Logout Form</hl> 
		<div class="card-body">
			<div class="mt-5 mb-5">
			{% block title %} <h2>Bыxoд</h2>  {% endblock %} 			 
				
			
				<div class="row">
					<div class="col-sm-6">
							<h1>Siz saytdan chiqdingiz !</h1>
							<br>
							<p>
								
							</p>
					</div>
					<div class="col-sm-6">
						<img src="/static/images/login.svg" class="w-75 h-75" alt="">
					</div>
				</div>
				
		
		
			</div>
		</div>
	</div>
</div>


{% endblock %}