{% extends '../base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

	<div class="row">
		<div class="col-sm-6">
			<form method="post"> 
			{% csrf_token %} 
			{{ form|crispy }} 
				<input type="hidden" name="next" value=" {{ next }} ">
				<br>
				<input type="submit" value="Ozgartirish" class="btn btn-success btn-outline"> 
			</form>
		</div>
		<div class="col-sm-6">
			<img src="/static/images/login.svg" class="w-75 h-75" alt="">
			
		</div>
	</div>


{% endblock %}