{% extends '../base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}


<div class="container">
	<div class="card">
		<div class="card-header">			
			
		<div class="card-body">
			<div class="mt-5 mb-5">
			{% block title %} <h2> This is your profile !</h2>  {% endblock %} 			 
				
			
				<div class="row">
					<div class="col-sm-6">
						<h1>Hello {{user.username}}</h1>
						<div class="card p-3">
							<div class="card-title">
								Your Info
							</div>
							<div class="card-body">
								<p class="card-text">UserName : {{user.username}}</p>
								<p class="card-text">Password : {{password}}</p>
								<p class="card-text">FirstName : {{user.first_name}}</p>
								<p class="card-text">LastName : {{user.last_name}}</p>
								<p class="card-text">Email : {{user.email}}</p>
							</div>
						</div>
						<h3>
						<a href="">Edit your profile</a>
						</h3>
						<h4>OR</h4>
						<h3>
							<a href="">Add new post</a>
						</h3>
					</div>
					<div class="col-sm-6">
						<img src="https://icons.iconarchive.com/icons/blackvariant/button-ui-system-folders-drives/1024/Users-icon.png" class="w-75" alt="">
						
					</div>
				</div>
				
				
		
			</div>
		</div>
	</div>
</div>


{% endblock %}