{% extends '../base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}


<div class="container">
	<div class="card">
		<div class="card-header">			
			
		<div class="card-body">
			<div class="mt-5 mb-5">
			{% block title %} <h2>Registration Done !</h2>  {% endblock %} 			 
				
			
				<div class="row">
					<div class="col-sm-6">
						<h1>Hello {{user.username}}</h1>
					</div>
					<div class="col-sm-6">
						<img src="/static/images/login.svg" class="w-75 h-75" alt="">
						
					</div>
				</div>
				
				
		
			</div>
		</div>
	</div>
</div>


{% endblock %}