* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

main {
    padding: 20px;
}       

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #000;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #3498db; 
    animation-name: move;     
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction:alternate;
    animation-delay: 3s;
    animation-fill-mode: both;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    /* 50% {
        transform: translateX(-100%);
    } */
    100% {
        transform: translateX(100%);
    }
}   