* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    list-style: none;
    transition: all 0.3s ease-in-out;
}

section {
    margin: 20px 0px;

}

.container {
    padding: 0px 20px;
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #232323;
    padding: 0 3%;
}

.navbar li {
    margin: 0px 20px;
}

.navbar li a {
    color: white;
    font-size: 1.3em;
}

.navbar li a:hover {
    color: rgb(194, 213, 231);
}