{% extends 'base.html' %}
{% load static %}

{% block content %}

    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>

    <main>
        <br>
        <br>
        <div class="container">
            {% if messages %}
            {% for message in messages %}
                <div class="messages">
                    <h4>{{message}}</h4>
                    <button onclick="this.parentElement.style.display= 'none'">X</button>
                </div>
            {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                          Categories
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            
                      </div>
                      <div class="list-group mt-3">
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                          Clubs
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            
                      </div>
                      <div class="list-group mt-3">
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                          Countries
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            
                      </div>
                      <form action="">
                        <label for="disabledRange" class="form-label">Filter by price</label>
                        <input type="range" class="form-range" id="disabledRange" >
                        <label for="disabledRange" class="form-label">Filter by age</label>
                        <input type="range" class="form-range" id="disabledRange" >
                        
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Goalkeeper
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                            <label class="form-check-label" for="flexCheckChecked">
                                Deffender
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                            <label class="form-check-label" for="flexCheckChecked">
                                Middle Deffender
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                            <label class="form-check-label" for="flexCheckChecked">
                                Forward
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                            <label class="form-check-label" for="flexCheckChecked">
                                Striker
                            </label>
                          </div>
                      </form>
                </div>
                <div class="col-9">
                    <h3 >Players</h3>

                    {% for obj in object_list %}
                    <div class="card shadow-lg px-5 py-2">
                        <div class="d-flex flex-wrap justify-content-between ">
                            <img class="img-rounded" src="{{obj.image.url}}" alt="">
                            <div class="info">
                                <h4>{{obj.name}}</h4>
                                <p>Club : <a href="" class="text-decoration-none">{{obj.club}}</a> </p>
                                <p>{{obj.country}}</p>
                                <p>{{obj.age}}</p>
                                <p>{{obj.height}}</p>
                                <p>{{obj.weight}}</p>
                            </div>
                        </div>
                      </div>
                    {% endfor %}
                </div>
            </div>
    

        </div>
    </main>

{% endblock %}